body{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #214DF9;/*couleur arriere plan*/
}
.container{/*La form du formulaire */
	position: relative;
	max-width: 900px;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	margin: 0 15px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
}